<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM theory</title>

    <style>

        body{
            font-family: 'Times New Roman', Times, serif;
            background-color:whitesmoke;
        }
        div{
             
            padding-left: 15%;
            padding-right: 15%;
        }

        h1{
            text-align: center;
            background-color: rgb(8, 249, 249);
            
            padding: 10px;
            padding-top:20px;
        }

         

        p{
            text-align: justify;
            font-family: 'Times New Roman', Times, serif;
            font-size: medium;
            
        }

        .homepage img{
        height: 40px;
        width: 40px;
        border-radius: 10px;
        
}

.homepage{
    display: float;
    float: right;

    margin-top: 40px;

    margin-right: 10px;


}

.side_heading{
    color: blue;
    

    text-align: center;
   
}

.am_1,.am_2{

    padding: 10px;
    display: float;
    float: right;
}
    </style>
</head>
<body>

    <div>
        <a class="homepage" href="am.html"> <img src="home.jpg"> </a>
        <h1>Amplitude Modulation <br> 
            &
    <br> Demodulation</h1>

    
    <div class="side_heading"><h3>Amplitude Modulation</h3></div>

    <img class="am_1" src="am_theory_2.png" alt="" width="270px">

    
    <p>Amplitude Modulation (AM) is a technique used to modulate a high-frequency carrier wave with a low-frequency message signal. The modulated signal contains the information from the message signal, which can be demodulated at the receiver to recover the original message signal.</p>

     


    <p>The process of deriving Amplitude Modulation (AM) involves multiplying a message signal with a high frequency carrier signal to generate a modulated signal. The mathematical expression for AM modulation can be derived as follows:</p>
    
    <p>Let m(t) be the message signal, c(t) be the carrier signal, and s(t) be the modulated signal.</p>
    <p>The carrier signal can be represented as:</p>
    <p>c(t) = A<sub>c</sub> cos(2πf<sub><!--  --></sub>t)</p>
    <p>where Ac is the amplitude of the carrier signal and fc is the frequency of the carrier signal.</p>
    <p>The message signal can be represented as:</p>
    <p>m(t) = A<sub>m</sub> cos(2πf<sub>m</sub>t)</p>
    <p>where Am is the amplitude of the message signal and fm is the frequency of the message signal.</p>
    <p>To generate the modulated signal s(t), we multiply the message signal with the carrier signal:

    </p>
    <p>s(t) = (A<sub>c</sub> + A<sub>m</sub> cos(2πf<sub>m</sub>t)) cos(2πf<sub>c</sub>t)</p>
    <p>Expanding this expression using the trigonometric identity for the product of two cosines, we get:</p>

       
    <p> s(t) = A<sub>c</sub> cos(2πf<sub>c</sub>t) + 0.5 A<sub>m</sub> cos(2π(f<sub>c</sub> + f<sub>m</sub>)t) + 0.5 A<sub>m</sub>cos(2π(f<sub>c</sub> - f<sub>m</sub>)t)</p>
    <p>Thus, the modulated signal s(t) contains three components: the carrier signal, and two sidebands that are spaced apart from the carrier frequency by the frequency of the message signal</p>
    <p>In the frequency domain, the AM signal has a spectrum that consists of a carrier signal and two sidebands, which are symmetrically placed around the carrier frequency.

    </p>
    
    <p>One of the methods used to demodulate AM signals is square-law demodulation, which is based on the non-linear characteristic of a diode. The square-law demodulator circuit consists of a diode, a load resistor, and a capacitor.</p>
    <p>The mathematical derivaticn of AM demodulation using square-law detection is as follows:
    <p>Let the received AM signal be:</p>  
    <p>s(t) = (A<sub>c</sub>+ A<sub>m</sub> m(t)) cos(2πf<sub>c</sub>t)</p>
    <p>where A<sub>c</sub> is the amplitude of the carrier wave, A<sub>m</sub> is the amplitude of the message signal, m(t) is the message signal, and f<sub>c</sub> is the frequency of the carrier wave.</p>

    </p>    
        
         
    

    <div class="side_heading"><h3>Amplitude De-Modulation</h3></div>
    <img class="am_2" src="am_thoery_3.jpg" alt="" width="300px">
    
    
    <p>To demodulate the AM signal using a square law detector, we first pass the received signal through a diode to rectify it. The output of the diode is a half-wave rectified signal, which contains both the positive and negative half cycles of the modulated signal.</p>
    <p>The rectified signal is then passed through a low-pass filter (LPF) to remove the high-frequency components and recover the original message signal. The LPF can be implemented using a capacitor and a resistor as shown in the figure below:</p>
   
    <p>The output voltage of the LPF can be derived as follows:</p>
    <p>V<sub>out</sub>(t) = V<sub>c</sub> *(1/RC) * ∫[V<sub>diode</sub>(t) - V<sub>c</sub>/2] dt</p>
    <p>where V<sub>c</sub> is the voltage across the capacitor, RC is the time constant of the LPF, and Vdiode(t) is the half-wave rectified output of the diode.</p>
    <p>Using the trigonometric identity Cos<sup>2</sup>(x) = (1/2) * (1 + cos(2x)), we can express the output voltage of the diode as follows:</p>
    <p>V<sub>diode</sub>(t) = (A<sub>c</sub>/2) * (1 + μ*m(t))<sup>2</sup></p>
    <p>where μ = A<sub>m</sub>/A<sub>c</sub> is the modulation index.</p>
    <p>Substituting Vdiode(t) into the above equation and simplifying, we get:</p>
    <p>Vout(t) = (A<sub>m</sub>A<sub>c</sub>/4) * m(t) + (A<sub>c</sub>/2) * (1/RC) * ∫m<sup>2</sup>(t) dt</p>
    <p>The first term in the above equation represents the demodulated message signal, while the second term represents a DC offset. Since the LPF removes the DC component, the output of the LPF is the demodulated message signal.</p>
    <p>Therefore, the equation for the demodulated message signal can be written as:</p>
    <p>m_demod(t) = (2/π) * Vout(t) / (Ac * μ * Am)</p>
    <p>where Vout(t) is the output voltage of the LPF.</p>
    <p>In summary, the demodulation of an AM signal using a square law detector involves rectifying the signal, passing it through a LPF to recover the message signal, and then scaling the output to obtain the demodulated message signal</p>
     
        
    </div>

     
 
</body>
</html>