<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
  {% with title= title %}
    {% include 'nav.html' %}
  {%endwith%}
<div class="container-full">
  <form action="/AM/{{am_type}}" method="POST">
    <div class="inputs">
      {% if am_type == "QAM" %}
      <div class="input-wrapper wrap">
        <div style="display: flex;flex-direction: column;border-radius:1rem;text-align: center;border: 2px solid white;padding: .5rem;">
          <label for="signal_type" class="form-label">Message_type</label>
          <select name="message_signal" class="input-bar">
            <option value="sin">Sin</option>
            <option value="cos" selected>Cos</option>
          </select>  
        </div>
        <div style="display: flex;flex-direction: column;border-radius:1rem;text-align: center;border: 2px solid white;padding: .5rem;">
          <label for="signal_type_2" class="form-label">Message_type</label>
          <select name="message_signal_2" class="input-bar">
            <option value="sin">Sin</option>
            <option value="cos" selected>Cos</option>
            {% if am_type != "SSB" %}
            <option value="tri">Triangle</option>
            {% endif %}
            <option value="ramp">Ramp</option>  
          </select>  
        </div>
      </div>  
      {% else %}
      <div class="input-wrapper">
        <label for="signal_type" class="form-label">Message_type</label>
        <select name="message_signal" class="input-bar">
          <option value="sin">Sin</option>
          <option value="cos" selected>Cos</option>
          {% if am_type != "SSB" %}
            <option value="tri">Triangle</option>
            {% endif %}
          <option value="ramp">Ramp</option>
        </select>
      </div>  
      {% endif %}
      <div class="input-wrapper">
          <label for="freqc">Carrier frequency</label>
          <input required type="number" id="freqc" name="fc" class="input-bar" placeholder="frequencyc value..">
      </div>
      <div class="input-wrapper">
        <label for="freqm">Message frequncy</label>
          <input required type="number" id="freqm" name="fm" placeholder="frequencym value..">
      </div>
      <div class="input-wrapper">
          <label for="am">Message Amplitutde</label>
          <input required type="number" id="am" name="Am" placeholder="Am value..">
      </div>
      <div class="input-wrapper">
          <label for="am">Carrier Amplitude</label>
          <input required type="number" id="am" name="Ac" placeholder="Ac value..">
      </div>
    </div>
    <div class="buttons">
      <button type="submit" id="submit-button">Show Resutls</button>
      <!-- <button type="submit" id="Download-button">Download</button> -->
    </div>
  </form>
</div>
<div class="plot-wrapper"> 
  {% if inputs|length%}
    <div class="input-display-section">
      {%for key, value in inputs.items()%}
      <article class="selected-value">
        <span>{{key}}</span>: 
        <span>{{value}} 
          {%if key=="Am" or key=="Ac"%}
            Volts
          {%elif key=="fm" or key=="fc" %}
            KHz
          {%endif%}
        </span>
      </article>
      {%endfor%}
    </div>
  {%endif%}
  {%if errMsg%}
     <span style="background-color: brown;width:100%;padding:10px;display: inline-block;text-align: center;color: white;">{{errMsg}}</span>
  {%endif%}

  {% if plots | length == 0%}
  <p class="info">Please select the values to generate the graph</p>
  {% else %} 
  {% for plot in plots %}
  <img src="data:image/png;base64,{{ plot|decode_hex|b64encode }}" onclick="zoomin()" class="graph-plot" />
  {% endfor %}
  {% endif %}
</div>
</body>
</html>
