<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analog modulation</title>
    <link rel="stylesheet" href="/static/AM.css">
</head>
<body>
    
    <div class="wraper">
        <div class="nav">
            <h1>Analog modulation</h1>
        </div>
        <div class="container">

            <div class="content">
                <a class="card-link" href="/AM/1" id="AM_main" >
                    <div class="box card" id="box-1">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/97/Amplitudemodulation.gif?20150401022946" alt="">
                        <h2 class="card-heading">
                            Amplitude modulation
                        </h2>
                        <p>    
                            The early and simple form of modulation for radio communication. 
                            Explore AM modulator, demodulator, transmission examples, modulation trapeze ...
                        </p>
                    </div>
                </a>
                <a class="card-link" href="/AM/2" id="AM_SSB">
                    <div class="box card" id="box-7">
                        <img src="http://3.bp.blogspot.com/-wRxe6tbz-7k/UAvJ_prUTiI/AAAAAAAAARA/SuhXKxshaU4/s400/aa-ssb.gif" alt="">
                        <h2 class="card-heading">
                            SSB modulation
                        </h2>
                        <p>
                            Amplitude modulation made radio broadcasting possible.
                            Single sideband modulation made it possible to improve it, by saving bandwidth. 
                            Analyze a SSB-signal in time and frequency domain and change parameters... 
                        </p>
    
                    </div>
                </a>
                <a class="card-link" href="/AM/3" id="AM_DBSB">
                    <div class="box card" id="box-7">
                        <img src="/static/images/DSB.png" alt="">
                        <h2 class="card-heading">
                            DBSB modulation
                        </h2>
                        <p>
                            Amplitude modulation made radio broadcasting possible.
                            Single sideband modulation made it possible to improve it, by saving bandwidth. 
                            Analyze a SSB-signal in time and frequency domain and change parameters... 
                        </p>
    
                    </div>
                </a>
                <a class="card-link" href="/AM/4" id="AM_QAM">
                    <div class="box card" id="box-7">
                        <img src="https://www.zhinst.com/sites/default/files/blogs/migrate/Constellation_QAM64.gif" alt="">
                        <h2 class="card-heading">
                            QAM modulation
                        </h2>
                        <p>
                            Amplitude modulation made radio broadcasting possible.
                            Single sideband modulation made it possible to improve it, by saving bandwidth. 
                            Analyze a SSB-signal in time and frequency domain and change parameters... 
                        </p>
    
                    </div>
                </a>
                <!-- <a class="card-link" href="">
                    <div class="box card" id="box-2">
                        <img src="https://www.etti.unibw.de/labalive/experiment/fm/teaser/fm-signal-spectra.png" alt="">
                        <h2 class="card-heading">
                            Spectra of FM signals
                        </h2>
                        <p>
                            Frequency modulation signal spectra show sidebands for sinewave modulation. 
                            In this experiment we take a look how they change with the modulating signal amplitude.
                        </p>
                    </div>    
                </a>
                <a class="card-link" href="">
                    <div class="box card" id="box-3">
                        <img src="https://www.etti.unibw.de/labalive/experiment/fmtransmitterrecordaudiodemo/teaser/mod-18.gif" alt="">
                        <h2 class="card-heading">
                            FM transmitter
                        </h2>
                        <p>
                            Produce a frequency modulated transmission signal. Select music, speech, microphone or take your own audio file. 
                            Demodulate the signal using the FM receiver or let a USRP SDR transmit...           	
                        </p>
                    </div>
                </a>
                <a class="card-link" href="">
                    <div class="box card" id="box-4">
                        <img src="https://www.etti.unibw.de/labalive/experiment/fmdemod/teaser/demod-radio-18.gif" alt="">
                        <h2 class="card-heading">
                            FM receiver
                        </h2>
                        <p>
                            Demodulate the FM transmission signal. Listen to the received music or speech.
                            Check if you modulated the audio signal properly and the frequency deviation is adjusted properly...
                        </p>
                    </div>
                </a>
                <a class="card-link" href="">
                    <div class="box card" id="box-5">
                        <img src="https://www.etti.unibw.de/labalive/experiment/analog-demod/teaser/analog-demodulation.png" alt="">
                        <h2 class="card-heading">
                            Analog demodulation
                        </h2>
                        <p>
                            In this experiment, four-channel signals are available for practicing demodulation. 
                            Each of the channels is modulated in a different way.
                        </p>
    
                    </div>
                </a>
                <a class="card-link" href="">
                    <div class="box card" id="box-6">
                        <img src="https://www.etti.unibw.de/labalive/experiment/analog-demod-challenge/teaser/analog-demod.png" alt="">
                        <h2 class="card-heading">
                            Analog demodulation challenge
                        </h2>
                        <p>In order to deepen amplitude and frequency modulation and demodulation an experiment was designed.</p>
                    </div>
                </a> -->
            </div>
        </div>
    </div>
</body>
</html>