<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
    {% import "macros.html" as macros %}
    <div class="wraper">
        {% with title="Amplitude Modulation",back_link="AM" %}
            {% include "nav.html" %}
        {% endwith %}
        <div class="container">
            <div class="content" id="Amplitude-modulation-section">
                {% for i in data %}
                    {{macros.card(i.title,i.descritption,i.image_link,i.color,i.hasTheory,i.demoLink,i.theoryLink,i.pageLink)}}
                {%endfor%} 
            </div>
        </div>
    </div>
</body>
</html>