<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMC</title>
</head>
<body>
   <div class="container">
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">frequencyc</label>
        <input type="text" class="form-control" name="fc" id="title" aria-describedby="emailHelp"> 
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">frequencym</label>
        <input type="text" class="form-control" name="fm" id="desc">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Am</label>
        <input type="text" class="form-control" name="Am" id="desc">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Ac</label>
        <input type="text" class="form-control" name="Ac" id="desc">
      </div>
      
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <img src='static/my_plot.png'/>
   </div>
</body>
</html>