<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>References</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    *{
      list-style-type:none ;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Courier New', Courier, monospace;
    }
    .container-fluid {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="col-md-12">
        <div class="container-fluid d-flex justify-content-center">
              <div class="container-fluid w-100 justify-content-center">
                <div class="row">
                    <div class="col-sm-6" >
                        <h2>Tech Stack Used</h2>
                        <ul class="row">
                          <div class="col-6">
                            <li>
                              <img src="https://img.icons8.com/color/50/000000/html-5--v1.png" alt="HTML logo">
                              HTML
                          </li>
                          <br>
                          <li>
                              <img src="https://img.icons8.com/color/50/000000/css3.png" alt="CSS logo">
                              CSS
                          </li>
                          <br>
                          <li>
                              <img src="https://img.icons8.com/color/50/000000/javascript--v1.png" alt="JavaScript logo">
                              JavaScript
                          </li>
                          <br>
                          <li>
                            <img src="https://d33wubrfki0l68.cloudfront.net/e33fd6f372aa5d51e7b0de4bd763bd983251881e/4b0f4/blog/customising-matplotlib/matplot_title_logo.png" alt="JavaScript logo" style="height:75px">
                          </li>

                        </div>
                          <div class="col-6">
                            <li>
                                <img src="https://img.icons8.com/fluency/50/000000/github.png" alt="GitHub logo">
                                GitHub
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/50/000000/flask.png" alt="Flask logo">
                                Flask
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/50/000000/python--v1.png" alt="Python logo">
                                Python
                            </li>
                            <li>
                              <img src="https://user-images.githubusercontent.com/98330/64479472-4b35c900-d16c-11e9-8d49-71fc02cd539f.png" style="width: 75px;height: 75px;" alt="Python logo">
                              Numpy
                          </li>

                          </div>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                      <div class="row w-100">
                        <h2>References Used</h2>
                        <ul>
                          <h1 class="display-6" style="white-space: nowrap">For web developemnt</h1>
                        <li>
                          <a href="https://developer.mozilla.org/en-US/">
                            MDN Web Docs
                          </a>
                        </li>
                        <li>
                          <a href="https://www.w3schools.com/bootstrap/bootstrap_ver.asp">
                            W3Schools
                          </a>
                        </li>
                        <li>
                          <a href="https://stackoverflow.com/">
                            Stack Overflow.
                          </a>
                        </li>
                        </ul>
                    </div>
                    <div class="row w-100">
                      <ul>
                        <h1 class="display-6" style="white-space: nowrap">For Generating graphs<br/> and concept</h1>
                      <li>
                          Lathi, B. P. Modern Digital and Analog Communication Systems. 4th ed., Oxford University Press, 2009.
                      </li>
                      <li>
                          Haykin, Simon. Introduction to Analog and Digital Communications. 2nd ed., John Wiley & Sons, 2006.
                      </li>
                      <li>
                        <a href="https://www.tutorialspoint.com">
                          tutorials point
                        </a>
                      </li>
                      </ul>
                  </div>
                    </div>
                </div>
                
              </div>
            
          </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
