<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>References</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Courier New', Courier, monospace;
    }
    .container-fluid {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  </style>
</head>
<body>

  <div class="container-fluid">
    <div class="col-md-8">
        <div class="container-fluid d-flex justify-content-center">
              <div class="container justify-content-center">
                <div class="row">
                    <div class="col-sm-6" >
                        <h2>Tech Stack Used</h2>
                        <ul>
                            <li>
                                <img src="https://img.icons8.com/color/50/000000/html-5--v1.png" alt="HTML logo">
                                HTML
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/50/000000/css3.png" alt="CSS logo">
                                CSS
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/50/000000/javascript--v1.png" alt="JavaScript logo">
                                JavaScript
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/fluency/50/000000/github.png" alt="GitHub logo">
                                GitHub
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/50/000000/flask.png" alt="Flask logo">
                                Flask
                            </li>
                            <br>
                            <li>
                                <img src="https://img.icons8.com/color/50/000000/python--v1.png" alt="Python logo">
                                Python
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-6">
                        <h2>References Used</h2>
                        <ul>
                        <li>MDN Web Docs</li>
                        <li>W3Schools</li>
                        <li>Stack Overflow</li>
                        </ul>
                    </div>
                </div>
                
              </div>
            
          </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
